<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
  <ion-fab>
    <ion-fab-button (click)="getPicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [routerLink]="['/map']">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
    <ion-fab-button [routerLink]="['/barcode']">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br>

  <img [src]="image" *ngIf="image">

  <ion-fab>
  </ion-fab>

</ion-content>
